# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-t5u8-#3q%cj^u+w*qu@v9-^&203ln06=umd!%l!z!u@7h)jrae
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (MySQL XAMPP)
DB_NAME=fashion_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Redis Cache Configuration
REDIS_URL=redis://127.0.0.1:6379/1
